.container {
  display: flex;
  justify-content: flex-end;
}
.button {
  padding: 10px 26px;
  color: black;
  background-color: e63946;
  border-radius: 5px;
  font-weight: bold;
  font-size: 11px;
  cursor: pointer;
}

.name {
  display: flex;
  justify-content: center;
  text-shadow: 5px 5px 5px gray;
}
.img {
  display: flex;
  justify-content: center;
}

.image {
  width: 660px;
  height: 360px;
  border-radius: 5px;
}

.all {
  background-image: url("../Home/27476-blancos.jpg");
}

.containerDes {
  background-color: #ced4da;
  width: 90%;
  border-radius: 5px;
  padding: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  resize: none;
}

.description {
  color: black;
  font-size: 15px;
  text-decoration: none;
  resize: none;
}

.containerRaiting {
  display: flex;
  justify-content: center;
}

.containerReleased {
  display: flex;
  justify-content: center;
  height: 2rem;
}

.containerRating {
  display: flex;
  justify-content: center;
}

.rating {
  font-size: 20px;
}
.released {
  font-size: 20px;
}

.containerPlat {
  margin-left: 50%;
  margin-right: 10%;
}
.containerGenres {
  margin-right: 50%;
  margin-left: 10%;
}

.containe {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}
.platforms {
  text-align: center;
  font-size: 20px;
}
.genres {
  text-align: center;
  font-size: 20px;
}
