.nav{
    margin: 20 px 0;
}
.ul{
    list-style: none;
    text-align: center;
}

.li{display: inline-block;
margin-right: 10px;}

.lix{
    display: block;
padding: 20px 40 px;
color:white;
background-color:gray;
padding: 4px 8px;
text-decoration: none;
cursor: pointer;
;}

.lia{
display: block;
padding: 20px 40 px;
color:white;
background-color: black;
padding: 4px 8px;
text-decoration: none;
cursor: pointer;
}

.lia:hover {background-color: black;}

