@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.total{
    background-image: url("./27476-blancos.jpg")
}

.title {
  display: flex;
  justify-content: center;
  font-family: "Permanent Marker", cursive;
  font-size: 50px;
}

.pagination {
  display: flex;
  justify-content: center;
}
.SearchBar {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: right;
  align-items: center;
  text-decoration: none;
}

.buttonCreate {
  padding: 10px 26px;
  color: black;
  background-color: e63946;
  border-radius: 5px;
  font-weight: bold;
  font-size: 11px;
  cursor:pointer;
}

.buttonGetAll {
  padding: 10px 26px;
  color: black;
  background-color: e63946;
  border-radius: 5px;
  font-weight: bold;
  font-size: 11px;
  cursor:pointer;
}
.nav {
  max-width: 100%;
  margin: auto;

  font-size: 20px;
  margin-top: 50px;
  padding: 0.7%;
}

.filters {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.menu {
   list-style: none;
  background-color:gray;
  display:table-column;
  color:white
}

.cards{
    display:grid;
    grid-template-columns: repeat(3, 1fr);
   
}