.button{  padding: 10px 26px;
    color: black;
    background-color: e63946;
    border-radius: 5px;
    font-weight: bold;
    font-size: 12px;
cursor:pointer}

.input{
    height:2rem;
    border-radius: 5px;

}