.all {
  background-image: url("../Home/27476-blancos.jpg");
}

.button {
  padding: 10px 26px;
  color: black;
  background-color: e63946;
  border-radius: 5px;
  font-weight: bold;
  font-size: 11px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
}

.title{
text-align: center;
color:black;
text-shadow: 5px 5px 5px gray;
}

.input{
    display: block;
    justify-content:center;
    height:2rem;
    border-radius: 10px;
    background-color:white;
    padding-left: 20%;
    width: 600px;
}

.textarea{    display: block;
    justify-content:center;
    height:6rem;
    border-radius: 10px;
    background-color:white;
    padding-left: 20%;
    width: 600px;}

.error{
    color:red
}